<!doctype html>
<html>
  <head>
    {% block head %}
    <!-- Latest compiled and minified CSS -->
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Movie Review Sentiment Predictor</title>
    <style>
    body {
        padding-left:20px;padding-right:20px;
        width:100%;background: #eee;
    }
    #content {
        text-align:center;
    }
    #header {
        padding:5px;margin-bottom:10px; border-bottom: 3px solid black;
    }
    #footer {
        padding:5px;margin-top:20px; border-top: 3px solid black; 
    }
    h1 {
        color:maroon;
    }
    </style>

    {% endblock %}
    {% block head2 %}
    {% endblock %}
  </head>
  <body>
    <div id="header">
    <h1>Movie Recommendation Classifier</h1>
    This web application is a proof-of-concept sentiment analysis of movie reviews. 
    Uses a Stochastic Gradient classifier from Python Sci-kit. Training is done offline
    and the pickled classifier copied over to Python Anywhere for online recommendations.
    Also allows incremental learning by capturing user feedback. 
    Code and documentation at https://github.com/rohitnayak/movie-review-sentiment-analysis
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <div>
      &copy; Copyright 2017 by <a target=_new href="http://greenibis.nl">Rohit Nayak</a>.
      {% endblock %}
    </div>
  </body>
</html>